.div{
position: absolute;
left: 30%;
top: 37%;
width: 511px;
height: 411px;
color: white;
		}

.img{
width: 500px;
height: 400px;
		}
		

.s{
    background-color: #D4E6F1 ;
    color: white;
    padding: 11px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 73%;
    top: 63%;
    border-radius: 2px;
    color: black;
}
.s:hover {
background-color:#AED6F1;
color: #17202A;
}

.p{
    background-color: #D4E6F1 ;
    color: white;
    padding: 11px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 84%;
    top: 63%;
    border-radius: 2px;
    color: black;
    font-family: 
}
.p:hover {
background-color:#AED6F1;
color: #17202A;
}

.t{
    position: absolute;
    top: 3%;
    left: 32%;
    font color: black;
    font-size: 480%;
    color: #AED6F1;
    font-family: KG A Little Swag;
    }

    .te{
    position: absolute;
    top: 40%;
    left: 76%;
    font color: black;
    font-size: 440%;
    color: #AED6F1;
    font-family: KG A Little Swag;
    }